html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  font-size: 0;
  display: flex;
  padding-top: 20px;
  align-items: stretch;
  box-sizing: border-box;
}

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}
.icon-btn {
  background-position: center;
  background-repeat: no-repeat;
}

.status-bar {
  background-color: black;
  color: white;
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  white-space: nowrap;
}
.money, .period {
  display: inline-block;
  font-size: 10px;
}
.progress {
  background-color: rgba(255, 255, 255, 0.15);
  height: 8px;
  width: 30vw;
  display: inline-block;
  margin-left: 5px;
}
.progress::after {
  content: '';
  display: block;
  width: var(--progress);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.pane {
  width: 250px;
  overflow: auto;

  /* make scrolling on iOS in divs have momentum */
  -webkit-overflow-scrolling: touch;
}
.desktop-flexible {
  flex: auto;
}

.surveillance {
  border: 5px solid #543e27;
  background-color: #6b5033;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}
.camera-wrapper {
  position: relative;
}
.camera {
  width: 100%;
  background-color: black;
}
.camera-buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.camera-menu-btn {
  background-image: url('./camera-grid.svg');
  background-size: 24px;
  width: 36px;
  height: 36px;
  margin: 5px;
}
.upgrade-btn {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  margin: 5px;
  padding: 5px 10px;
}
.upgrade-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.mic-log {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: rgba(255, 255, 255, 0.8);
}
.log-entry {
  font-size: 14px;
  padding: 5px;
}
.log-entry:first-child {
  margin-top: auto;
}
.log-entry:nth-child(2n+1) {
  background-color: rgba(255, 255, 255, 0.05);
}
.incoherent {
  background-color: black;
  border-radius: 2px;
  font-size: 10px;
  padding: 2px 4px;
}

.directory {
  background-color: #515558;
  font-family: sans-serif;
}
.directory-heading {
  background-color: #323639;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
.student-entry {
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.desc {
  font-size: 10px;
  margin: 5px 0;
}
.space {
  display: inline-block;
  width: 10px;
}
.info-table {
  border: 1px solid black;
}
.info-heading {
  background-color: #E1E1E1;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}
.info-row {
  display: flex;
  border-top: 1px solid black;
}
.info-label {
  width: 50px;
  flex: none;
  background-color: #E1E1E1;
  border-right: 1px solid black;
  font-weight: bold;
}
.info-label, .info-value {
  font-size: 10px;
  padding: 2px;
}

.confessions {
  background-color: #FBE6E6;
  font-family: 'Roboto', sans-serif;
}
.heading {
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #D80000;
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: -50px;
}
.submission {
  border-top: 5px solid #ff6742;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 20px;
  background-color: white;
}
.submitter {
  margin: 0;
  color: #212121;
  font-size: 14px;
}
.confession {
  margin: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  font-size: 16px;
  margin-top: 14px;
}
