:root {
  --principal-highlight: #fdd402;
}
.principal-highlight {
  outline: 5px solid var(--principal-highlight);
}

.principal-demo {
  position: fixed;
  display: flex;
  align-items: center;
  max-width: 500px;
  padding: 10px;
  margin: 10px;
  padding-right: 40px;
  border-radius: 500px;
  background-color: rgba(31, 31, 31, 0.8);
}
.principal-demo .speak-thumbnail {
  border: 5px solid var(--principal-highlight);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  image-rendering: pixelated;
  object-fit: cover;
  object-position: top;
  margin-right: 10px;
  flex: none;
}
.principal-demo .speak-dialogue {
  flex: auto;
}
.principal-demo .speak-option {
  -webkit-appearance: none;
  border: none;
  background: none;
  background-color: #666;
  cursor: pointer;
}
