@import url('../game.css');
@import url('../basic-flex.css');

@import url('../sean/dialogue.css');
@import url('../sean/intro.css');
@import url('../sean/principal-demo.css');

.modal {
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
.menurow {
    display: flex;
}
.menutitle {
    font-size: 17.5px;
    margin: 10px 10px -5px;
}
.menutable {
    display: flex;
    margin-left: 10px;
}
.menutable div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.menutable div * {
    flex-grow: 1;
}

.bellrow {
    display: flex;
    margin: 10px;
}
.bellrow p {
    flex: auto;
    width: 50px;
}
.bellrow .bell-time {
    flex: none;
    width: 100px;
    margin-left: 0;
}

.layrow {
    display: flex;
    margin: 0 10px;
}
.layrow:first-child {
    margin-top: 10px;
}
.layrow:nth-child(5) {
    margin-bottom: 10px;
}
.layrow p {
    border: 1px solid #666;
    height: 35px;
    margin: -0.5px;
    line-height: 35px; /*such a messy way to vertically center but hey*/
    text-align: center;
    width: 35px;
}
.layrow p:nth-child(4),
.layrow p:nth-child(8),
.layrow:nth-child(3) p {
    border: none;
}
.layb {
    background-color: #333;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    /* Prevent the overflow when it does the slidey thing on small screens from
    making the device zoom out, si me entiendes. */
    overflow-x: hidden;
}
/* Hide the main UI during the intro */
.intro-mode #container {
    display: none;
}

#controls {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 5px;
}
#controls p {
    border: 2px solid #222;
    margin: 5px;
    padding: 3px 8px;
}
#controls button,
#menu button,
#bells button,
#layout button {
    background-color: #222;
    border: none;
    margin: 5px;
    padding: 5px 10px;
}
.control-btns {
    display: flex;
}

.game-screen {
    display: flex;
    flex: auto;
}
.left-panel {
    flex: auto;
    position: relative;
}
.right-panel {
    display: flex;
    flex: none;
    width: 300px;
    flex-direction: column;
    margin-left: 5px;
}
.list-wrap {
    flex: auto;
    min-height: 50px;
    position: relative;
}
.list {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

#camchoose {
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    width: 310px;
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
    z-index: 1;
}
#map {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#map button {
    background-color: #000;
    border: 2px solid #111;
    padding: 5px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -25%);
    z-index: 1;
}
.mbot button {
    transform: translate(-50%, -75%) !important;
}
.maprow {
    display: flex;
    flex-basis: 12.5%;
}
.mbuild {
    flex-basis: 25%;
}
.mapbox {
    flex-basis: calc(100% / 3);
    margin: 0 10px;
    position: relative;
}
.mbuild .mapbox {
    background-color: #0009;
    border: 2px solid #111;
}
#camdetect {
    display: flex;
    overflow-x: auto;
    position: absolute;
    bottom: 10px; left: 10px; right: 10px;
    z-index: 1;
}
#camdetect .student {
    border: none;
    margin: 0 20px 0 0;
    padding: 0;
}
.student {
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    border-top: 2px solid #222;
    cursor: pointer;
    display: flex;
    margin: 0 10px;
    padding: 10px 0;
    transition: background-color 0.1s;
}
.spic {
    background-color: aliceblue; /* this should not show */
    height: 50px;
    margin-right: 10px;
    width: 50px;
}
.spic-canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}
.sinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sname {
    font-size: 17.5px;
    font-weight: bold;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ssusp {
    color: #f00;
}
#camvis {
    background-color: #999;
    height: 100%;
}

#directory {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-bottom: 5px;
}
#search {
    border: none;
    background-color: #111;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}
#list .student:hover {
    background-color: #222;
}
.selected {
    background-color: #333 !important;
}
#schedule {
    flex-basis: 200px;
}
#table {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    margin: 10px;
}
#table button {
    background-color: #f00;
    border: 2px solid #c00;
    flex-grow: 1;
    margin-top: 5px;
}
.tablerow {
    display: flex;
}
.tablerow:first-child {
    border-bottom: 2px solid #222;
}
.tablerow p:first-child,
.tablerow p:last-child {
    flex-basis: 15px;
}
.tablerow p:nth-child(2) {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#envvis {
    background-color: #999;
    height: 100%;
}

#studentview {
    background-color: #ccc;
    flex-basis: 200px;
}
#dialogue {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-top: 5px;
}
#dialogue .sname {
    margin: 10px;
}
#transcript p {
    margin: 1px 20px;
}
.tjoin {
    color: #ff0;
}
.tname {
    color: #666;
}
.trel {
    color: #0c0;
}
#studentoptions {
    display: flex;
    height: 125px;
    flex-direction: column;
    margin: 10px;
}
#talk,
#suspend {
    display: flex;
    justify-content: center;
}
#studentoptions button {
    margin: 0 5px;
    padding: 2.5px 5px;
}
#talk button {
    background-color: #fc0;
    border: 2px solid #c90;
}
#release {
    background-color: #0c0 !important;
    border: 2px solid #090 !important;
}
#suspend button {
    background-color: #f00;
    border: 2px solid #c00;
}
#sustitle {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
    margin-top: 10px;
}
#sustitle p {
    font-size: 20px;
}

.screen {
    background-color: #000;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 2;
}
#s-menu {
    opacity: 0.5;
}

.stretch {
    flex-grow: 1;
}

.toggle-panel-btn {
    display: none;
}
@media (max-width: 700px) {
    .game-screen {
        transition: transform .2s;
    }
    .game-screen .panel {
        flex: none;
        width: calc(90vw - 10px);
    }
    .toggle-panel-btn {
        display: block;
        flex: none;
        width: calc(10vw - 5px);
        margin-left: 5px;
        -webkit-appearance: none;
        border: none;
        background-color: #222;
    }
    .show-right-panel .game-screen {
        transform: translateX(calc(5px - 90vw))
    }
}
